<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite name="BuyGo Plus One Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./includes/</directory>
        </include>
    </coverage>
    <php>
        <const name="WP_TESTS_DOMAIN" value="example.org" />
        <const name="WP_TESTS_EMAIL" value="admin@example.org" />
        <const name="WP_TESTS_TITLE" value="Test Blog" />
        <const name="WP_PHP_BINARY" value="php" />
        <const name="WP_TESTS_TABLE_PREFIX" value="wptests_" />

        <!-- 測試資料庫設定 (Local by Flywheel) -->
        <const name="DB_NAME" value="wordpress_test" />
        <const name="DB_USER" value="root" />
        <const name="DB_PASSWORD" value="root" />
        <!-- Local MySQL socket 路徑 -->
        <const name="DB_HOST" value=":/Users/fishtv/Library/Application Support/Local/run/oFa4PFqBu/mysql/mysqld.sock" />
    </php>
</phpunit>
